Flask
flask_socketio
python-dotenv
joblib
numpy
requests
feedparser
beautifulsoup4
assemblyai
scikit-learn
pandas
openai
pinecone
opencv-python
pytesseract
moviepy
openai-whisper
torch
Pillow
transformers
yt-dlp
